div#oradores {
  text-align: center;
}


.contenedor{
  /*position: relative;*/
  display: inline-block;
  text-align: center;
}
.img-fluid {  
  filter: brightness(40%); 
}


.centrado{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.formulario {
  position: center;
  padding-left: 20%;
  padding-right: 20%;
}
