header {
  background-color: #272727
}

div#oradores {
  text-align: center;
}

.contenedor{
  position: relative;
  /*display: inline-block;
  text-align: center;*/
}

.textoIntro {
  /*position: absolute;
  /*transform: translate(20%, -550%);
  width: 50%;
  text-align: right;*/
  position: absolute; 
 top: 45%; 
 left: 0; 
 width: 100%;
 width: 50%;
 align-items: right; 
}

.logo {
  
  max-width: 5%;
  max-height: 5%;
}


.ConfTitulo {
  color: white;
}

p {
  color: white;
}

.sombra {  
  filter: brightness(40%); 
}

.centrado{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.oradores_section {
  padding-left: 15%;
  padding-right: 15%;
}

.formulario {
  position: center;
  padding-left: 20%;
  padding-right: 20%;
}

.contenido {
  width: 100%;

}

.honolulu {
    float: left;
    position: relative;
    width: 50%;
    border: white solid 1px;
    /*height: auto;*/
    height: 100%;
}

.bsAsDescripcion {

    position: relative;
    float: left;
    width: 50%;  
    border: white solid 1px;
    /*height: auto;*/
    height: 100%;
    background-color: #272727;
    text-align: justify;

}

.buttom {
  margin: 3%;
}

h3 {
  margin: 3%;
  color: white;
}

.texto {
  margin: 3%;
  color: white;
}

footer {
  background-color: #1F618D;
}